{% extends 'orderapp/home.html' %}
{% block content %}
<div class="container">
    {% for c in pdf.comment_set.all %}
    {% if request.user == c.autor %}
    <div class="container">
        <h2 style="font-family: Lobster"> {{ c.autor }}</h2>
        <p style="font-family: Lobster"> {{ c.tekst }}</p>
        <form method="post" action="{% url 'delete_comment' c.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-dark btn-sm">Delete comment</button>
        </form>
    </div>
    {% else %}
    <div class="container">
        <h2 style="font-family: Lobster"> {{ c.autor }}</h2>
        <p style="font-family: Lobster"> {{ c.tekst }}</p>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}