<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Hi, {{ request.user }}</a>
    <a class="navbar-brand" href="{% url 'logout' %}">Logout</a>
  </nav>
</div>
   
         <div class="container">
            <div class="jumbotron">          
                <h1 class="head-h">Hi,</h1>
                <h1 class="head-h">this is a</h1>
                <h1><span id="c">Test Page...</span></h1>
            </div>
        </div> 


       
          
</body