{% extends 'orderapp/home.html' %}
{% block content %}
{% for p in pdfs %}
<div class="container">
    <div class="row">
       
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active bg-dark style=" style="text-align:center; font-family: cursive;"> <h5> {{ p.title }} </h5></a>         
          
                <a href="#" class="list-group-item list-group-item-action" style="text-align: center; font-family: Lobster;">{{ p.autor }}</a>
                <a href="{{ p.fajlovi.url }}" class="list-group-item list-group-item-action" style="text-align: center; font-family: Lobster;">Download</a>
                <a href="#" class="list-group-item list-group-item-action" style="text-align: center;">
                    <form method="post" action="{% url 'delete_file' p.pk %}">
                        {% csrf_token %}
                    <button type="submit" class="btn btn-dark btn-sm" style="font-family: Lobster;">Delete</button> 
                    </form>
                </a>
                
            </div>
        </div>
        
    </div>
</div>
{% endfor %}
{% endblock %}