body {

    background: #76b852;
    background: -webkit-linear-gradient(to top, #76b852, #8DC26F);
    background: -moz-linear-gradient(to top, #76b852, #8DC26F);
    background: -o-linear-gradient(to top, #76b852, #8DC26F);
    background: linear-gradient(to top, #76b852, #8DC26F);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}