@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
html {
    font-size: 45px;   
    font-family: "Montserrat", sans-serif; 
    scroll-behavior: smooth;
}

.jumbotron{
 
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
#c{
    background-color: darksalmon; 
    color: white;  
}

.head-h{
    font-size: 3em;    
    color: black;
}
.nav-item{
    text-transform: uppercase;  
    font-weight: 500;
    letter-spacing: .1rem;
    font-size: 0.9rem;
    padding: 15px;
    
}
.random{
    margin-top: 50px;
    margin-bottom: 40px;  
}
.random h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
}
.s{
    color: crimson;
}
.cont{
    color: red;
}